/* Default CSS file */
@import url(http://fonts.googleapis.com/css?family=Nunito:700,300,400&subset=latin,latin-ext);

body {
    margin: 50px;
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 13px;
}

img {
    border: 0;
}